################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*\.vs*
*/obj/*
*/bin/*
*\Output
*\packages*
*.lock
*.cache
*.CopyComplete
*.dll
*.pdb
*.editorconfig
*.metadata
*.p7s
*._
*.ruleset
*.md
*.transform
*.xbf
*.xml
*.nupkg
*.xsd
*.exe
*.exe*
*.dll*
*.rsp
*.targets
*.pubxml*
Andafa.Mes.Bll/Andafa.Mes.Bll.csproj.user
Andafa.Mes.Common*/
*.user
Andafa.Mes.DataServer\Output*/
Andafa.Mes.DataServer\Output*/
Andafa.Mes.DataServer/Output/NLog.config