################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*\.vs*
*/obj/*
*\packages*
*.lock
*.cache
*.CopyComplete
*.dll
*.pdb
*.editorconfig
*.metadata
*.p7s
*._
*.ruleset
*.md
*.transform
*.xbf
*.xml
*.nupkg
*.xsd
*.exe
*.exe*
*.dll*
*.rsp
*.targets
*.pubxml*