@{
    ViewBag.Title = "操作员主页";
    ViewBag.PartTitle = "操作员主页";
    Layout = "~/Views/Shared/_basicLayoutPage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="/Operator/WorkerSelectedWka">班次交接</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="/Operator/WorkerSelectedOrder">订单选择</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="www.baidu.com">百度</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="www.baidu.com">百度</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="www.baidu.com">百度</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="www.baidu.com">百度</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="www.baidu.com">百度</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="www.baidu.com">百度</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="www.baidu.com">百度</a>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="thumbnail link-btn">
                <a class="btn btn-primary btn-block" href="/Operator/WorkerSelectedWkc">区域编辑</a>
            </div>
        </div>
    </div>
</div>